{% extends 'base.html' %}
{% load static %}

{% block title %} Cart Detail {% endblock title %}

{% block page %} Cart {% endblock page %}

{% block content %}

<div class="Shopping-cart-area pt-60 pb-60">
    <div class="container">
        <div class="row">
            <div class="col-12">
                    <div class="table-content table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    
                                    <th class="li-product-thumbnail">images</th>
                                    <th class="cart-product-name">Product</th>
                                    <th class="li-product-price">Unit Price</th>
                                    <th class="li-product-quantity">Quantity</th>
                                    <th class="li-product-subtotal">Total</th>
                                    <th class="li-product-remove">remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in cart %}
                                {% with product=item.product %}
                                <tr>
                                    
                                    <td class="li-product-thumbnail"><a href="#"><img src="{{ product.image.url }}" alt="Li's Product Image" width="250" height="220"></a></td>
                                    <td class="li-product-name"><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></td>
                                    <td class="li-product-price"><span class="amount">${{ item.price }}</span></td>
                                    <td class="quantity">
                                        <label>Quantity</label>
                                        
                                        <form action="{% url 'cart:cart_add' product.id %}" method="post">
                                            <div class="cart-plus-minus">
                                                <input class="cart-plus-minus-box" value="{{ item.quantity }}" type="text" name="quantity">
                                                <div class="dec qtybutton"><i class="fa fa-angle-down"></i></div>
                                                <div class="inc qtybutton"><i class="fa fa-angle-up"></i></div>
                                            </div>
                                            {% csrf_token %}
                                            <input type="hidden" name="override" value="1">
                                            <input class="button" name="update_cart" style="margin-top: 7px;" value="Update" type="submit">
                                        </form>
                                    </td>
                                    <td class="product-subtotal"><span class="amount">${{ item.total_price }}</span></td>
                                    <td class="li-product-remove">
                                        
                                        <form action="{% url 'cart:cart_remove' product.id %}" method="post">
                                            {% csrf_token %}
                                            <input type="submit" value="Remove" class="button">
                                        </form>
                                    </td>
                                </tr>
                                {% endwith %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="coupon-all">
                                <div class="coupon">
                                    <input id="coupon_code" class="input-text" name="coupon_code" value="" placeholder="Coupon code" type="text">
                                    <input class="button" name="apply_coupon" value="Apply coupon" type="submit">
                                </div>
                                <div class="coupon2">
                                    {% comment %}
                                    <input class="button" name="update_cart" value="Update cart" type="submit">
                                    {% endcomment %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 ml-auto">
                            <div class="cart-page-total">
                                <h2>Cart totals</h2>
                                <ul>
                                    
                                    <li>Total <span>${{ cart.get_total_price }}</span></li>
                                </ul>
                                <a href="#">Proceed to checkout</a>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}