{% extends 'base.html' %}
{% load static %}
{% block title %} Register {% endblock title %}

{% block page %} Register {% endblock page %}

{% block content %}
<div class="page-section mb-60">
    <div class="container">
        <div class="row">
            
            <div class="col-sm-12 col-md-12 col-lg-6 col-xs-12 col-md-6 offset-3">
                <form action="{% url 'registration:register' %}" method="post">
                    {% csrf_token %}
                    <div class="login-form">
                        <h4 class="login-title">Register</h4>
                        <div class="row">
                            <div class="col-md-6 col-12 mb-20">
                                <label>First Name</label>
                                <input class="mb-0" type="text" name="full_name" placeholder="First Name">
                            </div>
                            <div class="col-md-6 col-12 mb-20">
                                <label>Last Name</label>
                                <input class="mb-0" type="text" name="last_name" placeholder="Last Name">
                            </div>
                            <div class="col-md-12 mb-20">
                                <label>Email Address*</label>
                                <input class="mb-0" type="email" name="email" placeholder="Email Address">
                            </div>
                            <div class="col-md-6 mb-20">
                                <label>Password</label>
                                <input class="mb-0" type="password" name="password" placeholder="Password">
                            </div>
                            <div class="col-md-6 mb-20">
                                <label>Confirm Password</label>
                                <input class="mb-0" type="password" name="confirm_password" placeholder="Confirm Password">
                            </div>
                            <div class="col-12">
                                {% comment %}
                                <button class="register-button mt-0">Register</button>
                                <a href="{% url 'registration:register' %}" class="register-button mt-0">Register</a>
                                {% endcomment %}
                                
                                <input type="submit" value="Submit">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}